In [1]:
import tweepy
from tweepy.auth import OAuthHandler
import dask.dataframe as dd
from dask.multiprocessing import get

consumer_key = 'TD1vDc5ESsUWICKCqEmRqwiXY'
consumer_secret = 'anldfA300NKL2ly2sO9EOBFI82h51Xw5dlpNy7JnEvh2WQHRml'
access_token= '1064407182505009153-4rgPNk0Psv2coTWbuH5ssdbyIWLYC3'
access_token_secret = 'gRyY5dZdYhd70jHtA6QsArK7otEZ34miTjo5BUv0hrbFT'
auth = tweepy.auth.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.auth.API(auth)

#for tweet in public_tweets:
#    print(tweet.text)

In [2]:
user = api.get_user(id = 8729092)

In [5]:
user.screen_name

'sunjournal'

In [6]:
user.screen_name

'sunjournal'

In [7]:
import numpy as np
import pandas as pd

In [8]:
rawdata_polluters = pd.read_csv('datasets/content_polluters.txt',sep='\t', usecols=[0])
rawdata_legimaters = pd.read_csv('datasets/legitimate_users.txt',sep='\t',  usecols=[0])

In [9]:
rawdata_polluters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 1 columns):
UserID    22223 non-null int64
dtypes: int64(1)
memory usage: 173.7 KB

In [10]:
rawdata_legimaters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19275 entries, 0 to 19274
Data columns (total 1 columns):
614    19275 non-null int64
dtypes: int64(1)
memory usage: 150.7 KB

In [11]:
rawdata_polluters.columns=['user_id']
rawdata_legimaters.columns=['user_id']

In [12]:
rawdata_polluters[:5]

   user_id
0     6301
1    10836
2    10997
3   633293
4   717883

In [13]:
rawdata_legimaters[:5]

   user_id
0     1038
1     1437
2     2615
3     3148
4     5593

In [14]:
user_list = pd.concat([rawdata_polluters,rawdata_legimaters],axis=0)

In [16]:
user_list.reset_index()

       index   user_id
0          0      6301
1          1     10836
2          2     10997
3          3    633293
4          4    717883
5          5    763068
6          6    783705
7          7    788352
8          8    810011
9          9    815299
10        10    817045
11        11    964981
12        12   1091571
13        13   1303381
14        14   1322691
15        15   1467621
16        16   1599001
17        17   1907361
18        18   2077351
19        19   2157321
20        20   2219081
21        21   2243161
22        22   2269491
23        23   2695911
24        24   2884771
25        25   3060631
26        26   3076591
27        27   3136731
28        28   3291901
29        29   3881391
...      ...       ...
41468  19245  93055692
41469  19246  93058189
41470  19247  93061925
41471  19248  93070321
41472  19249  93071458
41473  19250  93099375
41474  19251  93118174
41475  19252  93121803
41476  19253  93129749
41477  19254  93139606
41478  19255  93156080
41479  19256  93179406
41480  19257  93189641
41481  19258  93213066
41482  19259  93229688
41483  19260  93258789
41484  19261  93271119
41485  19262  93314424
41486  19263  93337503
41487  19264  93340898
41488  19265  93342019
41489  19266  93362225
41490  19267  93378157
41491  19268  93386957
41492  19269  93390803
41493  19270  93390990
41494  19271  93402679
41495  19272  93419256
41496  19273  93426370
41497  19274  93442002

[41498 rows x 2 columns]

In [17]:
def splitDataFrameIntoSmaller(df, chunkSize = 10000): 
    listOfDf = []
    numberChunks = len(df) // chunkSize + 1
    for i in range(numberChunks):
        listOfDf.append(df[i*chunkSize:(i+1)*chunkSize])
    return listOfDf

In [18]:
user_list_split = splitDataFrameIntoSmaller(user_list, chunkSize = 100)

In [19]:
result = []
for each in user_list_split:
    id_list = each['user_id'].to_list()
    retrieved_json = api.lookup_users(user_ids=id_list)
    for item in retrieved_json:
        result.append(item)

In [37]:
df = pd.DataFrame(columns=['user_id', 'screen_name'])

In [39]:
for index,each in enumerate(result):
    df.at[index,'user_id'] = each.id
    df.at[index,'screen_name']=each.screen_name

In [40]:
df

        user_id      screen_name
0          6301       msjacbowie
1         10836        rex_huang
2         10997     philcampbell
3        633293      iboughtamac
4        717883           djdick
5        763068           vuchuu
6        783705         davepeck
7        788352   miguelcarrasco
8        810011    ChicagoWebDev
9        815299       benphoster
10       817045     bizopinsider
11       964981    danieledlauer
12      1091571    materialBITCH
13      1303381      scottparent
14      1322691        neilpatel
15      1467621        MissTrade
16      1599001          ohgizmo
17      1907361           salnsg
18      2077351     simonlazenby
19      2157321        c_johnson
20      2219081         LasVegas
21      2243161         skarritt
22      2269491          soJelle
23      2695911         stoneage
24      2884771         Newsweek
25      3060631         Jalopnik
26      3076591      ErikAstrand
27      3136731    carlosguadian
28      3291901         luckyb52
29      3881391           VBrown
...         ...              ...
30650  93003893     1PhoenixNews
30651  93005264  MELASONuberADIK
30652  93044240  Paulinhosilvino
30653  93047846   McNeilandReedy
30654  93055692  Pauline_Horobec
30655  93058189   robsonfelipebr
30656  93061925  makeupandhearts
30657  93070321         bmxmad13
30658  93071458       LizzyStich
30659  93099375         mahi1980
30660  93118174     ridervrd2lea
30661  93121803         adrices6
30662  93129749         lizxhoyt
30663  93139606     yulfinarifin
30664  93156080          pvirara
30665  93179406      joannacreay
30666  93189641        Emalemons
30667  93229688  imHisBiggestFan
30668  93258789         guridon2
30669  93271119      acqualuna86
30670  93314424      TheeWiseGuy
30671  93362225         RobPlove
30672  93378157     will_313_iam
30673  93386957     Leannee_Bird
30674  93390803          anafnsc
30675  93390990     muguiwarab0y
30676  93402679         sudoerx8
30677  93419256         bokenzzo
30678  93426370        Leona1262
30679  93442002          Skate_V

[30680 rows x 2 columns]

In [41]:
export = df.to_csv(r'id_screenName_list.csv',index = None, header=True)

### Note: many suspended account have been removed by twitter, so we cant find their screen_name from user_id. The sample size becomes small in this way.